
each entry in entries
	// temporary!
	- if(entry.data != null) {
	- 	entry = entry.data.ping != null ? entry.data.ping : entry.data
	- }
	- var entryClass = ['entry'], date = new Date(entry.created_at), text = null, user = null
	- if(entry.types.has('echo.new')) {
	- 	if(entry.types.has('echo.new.ofmine')) entryClass.push('own')
	- 	entryClass.push('echo')
	- 	text = entry.echo.text, user = entry.echo.user
	- } else if(entry.types.has('ping.new')) {
	- 	if(entry.types.has('ping.new.private')) entryClass.push('private')
	- 	if(entry.types.has('ping.new.mine')) entryClass.push('own')
	- 	entryClass.push('ping')
	- 	text = entry.text, user = entry.user
	- } else if(entry.types.has('listener.new')) {
	- 	// welp
	- }
	div(class=entryClass)
		.profile
			img.avatar(src= 'http:' + user.avatar , alt='thumb', title='@' + user.username)
		if entry.types.has('echo.new')
			.m-profile(class= entry.types.has('echo.new.mine') ? 'own' : '')
				img.avatar(src= 'http:' + entry.user.avatar , alt='thumb', title='@' + entry.user.username)
		.post
			.meta
				a.who(href='#')= '@' + entry.user.username
				span.pad &nbsp;
				time.reldate(datetime=date.format('isoDateTime'), title=date.format('dddd, mmmm dS, yyyy HH:MM:ss'))= date.format()
			p!= text.escapeHTML().autolink().autousername().replace("\r\n", "<br>")
		if entry.metadata != null
			.controls
				if entry.metadata.can_reply === true
					a(href='#').reply
						i.icon-share-alt
				if entry.metadata.can_echo === true && (entry.echo !== null || entry.echo.metadata.can_echo === true)
					a(href='#').echo
						i.icon-random
				if entry.metadata.can_delete === true
					a(href='#').delete
						i.icon-remove
