
each entry in entries
	// temporary!
	- if(entry.data != null && entry.data.ping != null) {
	- 	entry = entry.data.ping
	- } else if(entry.data != null) {
	- 	entry = entry.data
	- }
	- var entryClass = ['entry'], myEcho = false, date = new Date(entry.created_at), text = null
	- if(entry.text) entryClass.push('ping')
	- if(entry.metadata != null && entry.metadata.is_private === true) entryClass.push('private')
	- if(entry.echo != null) {
	- 	if(entry.echo.metadata != null && entry.echo.metadata.isMine === true) myEcho = true
	- 	entryClass.push('echo')
	- 	text = entry.echo.text
	- } else {
	- 	if(entry.metadata != null && entry.metadata.isMine === true) entryClass.push('own')
	- 	text = entry.text
	- }
	div(class=entryClass)
		.profile
			img.avatar(src= 'http:' + entry.user.avatar , alt='thumb', title='@' + entry.user.username)
		if entry.echo
			.m-profile(class= myEcho ? 'own' : '')
				img.avatar(src= 'http:' + entry.echo.user.avatar , alt='thumb', title='@' + entry.echo.user.username)
		.post
			.meta
				a.who(href='#')= '@' + entry.user.username
				span.pad &nbsp;
				time.reldate(datetime=date.format('isoDateTime'), title=date.format('dddd, mmmm dS, yyyy HH:MM:ss'))= date.format()
			p!= text.escapeHTML().autolink().autousername().replace("\r\n", "<br>")
		if entry.metadata != null
			.controls
				if entry.metadata.can_reply === true
					a(href='#').reply
						i.icon-share-alt
				if entry.metadata.can_echo === true
					a(href='#').echo
						i.icon-random
				if entry.metadata.can_delete === true
					a(href='#').delete
						i.icon-remove
